In [1]:
#producers_ which wiill produce data
#BROKERS_A node(server) which will manage all resources is known as brokers in kafka
#CONSUMERS_consumes the data for activities
#ZOOKEEPER_ The managers of all the kafka clusterrs,cluster management,failure recovery and security,store ACLs and secrets
#TOPIC_streams of realted message in kafka_
#logical partition_ a log

In [3]:
import pandas as pd
from kafka import  KafkaConsumer,KafkaProducer
from time import sleep
from json import dumps
import json

In [ ]:
producer=KafkaProducer(bootstrap_server=[public ip],
                      value_serializer=lambda x:
                      dumps(x).encode('utf-8'))

In [ ]:
producer.send['dummy',value="{name':'asjad}"]

In [4]:
df=pd.read_csv('indexProcessed.csv')

In [5]:
df.head(5)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [7]:
df

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013
...,...,...,...,...,...,...,...,...,...
104219,J203.JO,2021-05-25,66054.921880,66812.453130,66022.976560,66076.679690,66076.679690,0.0,4625.367578
104220,J203.JO,2021-05-26,66076.679690,66446.367190,66030.351560,66108.226560,66108.226560,0.0,4627.575859
104221,J203.JO,2021-05-27,66108.226560,66940.250000,66102.546880,66940.250000,66940.250000,0.0,4685.817500
104222,J203.JO,2021-05-28,66940.250000,67726.562500,66794.609380,67554.859380,67554.859380,0.0,4728.840157
104223,J203.JO,2021-05-31,67554.859380,68140.851560,67554.859380,67964.039060,67964.039060,0.0,4757.482734

In [13]:
df.sample(1).to_dict(orient='recotrds')[0]

C:\Users\ASUS\AppData\Local\Temp\ipykernel_7504\2283523261.py:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  df.sample(1).to_dict(orient='recotrds')[0]

{'Index': 'TWII',
 'Date': '2006-11-29',
 'Open': 7476.540039,
 'High': 7513.509766,
 'Low': 7431.870117,
 'Close': 7474.189941,
 'Adj Close': 7474.162109,
 'Volume': 5273000.0,
 'CloseUSD': 298.96759764}

In [ ]:
producer.flush()